// Define variables for your color scheme

// For example:
$red: #FD1015;
$darkblue: #2b2f46;
$cyan: #25c2ba;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #6b7180;
$lightgray: #abb3ba;
$white: #ecf5f5
