<div class="container mt-4 py-5">
  <h1>Editing Booking</h1>

  <%= render "form", booking: @booking %>

<%# Where the owner would be able to confirm the booking %>
  <% if policy(@booking).edit? %>
    <%# Show checkbox or confirm button for owner similar to below linking %>
    <%# <%= link_to "Confirm this booking", edit_booking_path(@booking) %>
  <% end %>
</div>
