<footer class="footer container-fluid">
  <div class="row justify-content-center">
    <div class="col-6">
        <h4>About Us</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium posuere lacus, sit amet gravida mauris eleifend ut.</p>
    </div>
    <div class="col-3">
      <h4>Quick Links</h4>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'My Bookings', bookings_path %></li>
        <li><%= link_to 'My Cars', dashboard_path %></li>
      </ul>
    </div>
    <div class="col-3">
      <h4>Contact Us</h4>
      <p>123 Street, City, Country</p>
      <p>Email: contact@carbnb.com</p>
      <p>Phone: +1234567890</p>
    </div>
    <div class="footer-bottom">
      <div class="row">
        <p class="text-center">&copy; 2023 CarBNB. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
