.btn-navbar {
  color: $white;
  background-color: $cyan;
  border-radius: 50px;
  margin-left: 24px;
  padding: 8px 24px;
}

.btn-navbar:hover {
  background: $darkblue;
  color: white;
}

.btn-ghost {
  color: $darkblue;
  transition: box-shadow 0.3s ease;
  border-radius: 50px;
  padding: 8px 24px;
  margin-left: 10px;
}

.btn-ghost:hover {
  box-shadow: 1px 1px 1px $darkblue;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 8px;
  background: $cyan;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $darkblue;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btn-delete {
  color: $white;
  padding: 4px 16px;
  border-radius: 4px;
  background: $red;
  transition: background 0.3s ease;
}

.btn-delete:hover {
  background: $red;
  color: $black;
}
