.card {
  border-radius: 8px;
}

.card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-title {
  margin-bottom: 6px;
  font-size: 24px;
  color: $cyan;
  padding: 5px;
}

.card-address {
  font-size: 14px;
  color: $darkblue;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}


.card-description {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
  font-size: 14px;
  color: $darkblue;
  border: 1px solid $darkblue;
  border-radius: 8px;
  padding: 4px;
  margin-top: 6px;
}

.card-link {
  text-decoration: none;
}

.card-content {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}


.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin-left: 0;
}

.card-product-image {
  height: 150px;
  width: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 0;
}

.card-product-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: $cyan;
}

.card-product-infos p {
  font-size: 14px;
  line-height: 2;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-infos {
  flex-grow: 1;
  padding: 16px;
}
