.filter-bar {
  background-color: $white;
  padding: 12px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.filter-bar .form-label {
  color: $darkblue;
}

.filter-bar .form-control {
  width: auto;
}

.filter-bar .d-flex.justify-content-end {
  justify-content: space-between;
}

