.footer {
  background-color: $white;
  width: 100%;
  color: $darkblue;
  margin-top: 30px;
  border-top: 1px solid $darkblue;
}

.footer h4 {
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
}

.footer p {
  color: #777;
  margin-bottom: 5px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer ul li {
  margin-bottom: 5px;
}


.footer ul li a {
  color: #777;
  text-decoration: none;
}

.footer ul li a:hover {
  color: $darkblue
}

.footer-bottom {
  background-color: $lightgray;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
}

.footer-bottom p {
  margin: 0;
  color: $darkblue;
  font-size: 14px;
  text-align: center;
}
