.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.map-container {
    position: sticky;
    top: 0;
    height: 70vh;
}
