.navbar {
  background-color: $white;
  color: $darkblue;
  justify-content: space-between;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  height: 80px;
  line-height: 80px;
  margin-bottom: 0px;
}

@media (min-width: 400px) {
  .toggleBtn {
    display: flex;
    align-items: center;
  }
}

.navbar-brand {
  color: $cyan;
}

.navbar-nav .nav-link {
  color: $darkblue;
}

.navbar-nav .nav-link:hover {
  color: $darkblue
}

.navbar-toggler-icon {
  color: #ecf5f5;
}

.navbar-collapse {
  flex-grow: 0;
}

.logo-image {
  width: 140px; /* Adjust the size as per your preference */
  border-radius: 50px;
}


// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }
